#top {
    height: 15vh;
    text-align: center;
    width: 100vw;
}

#top h1 {
    color: white;
    text-align: center;
    width: 100vw;
    color: white;
}

#top h1,
#top h5 {
    margin-top: 1vh;
}

#top button {
    background-color: #201c35;
    outline: none;
    border: none;
    border-radius: 4px;
    color: white;
    height: 35%;
    width: 70%;
    font-size: larger;
    box-shadow: 0px 4px 10px #2e2e2e8a;
}

#bikeOverview {
    width: 100vw;
    margin: 5vh 0 0 0;
}

.bikeCard {
    text-align: center;
    font-weight: bold;
    width: 95%;
    border-top: 4px solid rgba(55, 52, 74, 0.5);
    margin-left: 2.5%;
}
