#topSmaller {
    height: auto;
    margin-bottom: 10px;
}

#topSmaller h1 {
    text-align: center;
    color: white;
}

.noMarginBottom {
    margin-bottom: 0px;
}

.createAccountForm {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.buttonContainer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.buttonContainer input {
    border-radius: 15px;
    border: 0px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    box-shadow: var(--default-text-shadow);
}

.buttonContainer {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.hrLine {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.cardTitleAndIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cardTitle {
    font-size: 20px;
    font-weight: bold;
}

.expireandCVC {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.smallerContainer {
    width: 48%;
}

.createAccountButtons button {
    width: 100%;
    box-shadow: var(--default-box-shadow);
    border: 0px;
    color: white;
    background-color: #37344a;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.createAccountButtons a {
    text-decoration: none;
}

.createAccountButtons {
    margin-bottom: 20px;
}

.createAccountButtons p {
    color: white;
    text-align: center;
}
