#top {
    height: 5vh;
    color: white;
    width: 100vw;
    text-align: center;
}

.faqTopic {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 5vh;
    background-color: white;
    border-radius: 8px;
    padding: 1vh 1vw;
    box-sizing: border-box;
}

.question {
    margin-top: 10%;
}

.question h5 {
    margin-bottom: 3%;
    color: #8d8585;
}

.faqDropdown {
    margin: 1% 0% 2% 0%;
    display: none;
}

.faqDropdown p {
    margin: 0;
}
