#top {
    width: 100vw;
    text-align: center;
    color: white;
}

#bikePicker {
    width: 100vw;
    min-height: 40vh;
    text-align: center;
    color: white;
}

#bikePicker select {
    height: 4vh;
    padding-left: 1%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}

.bikecard {
    margin-top: 2vh;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(55, 52, 74, 0.5);
    border-radius: 8px;
    padding: 1vh 2vw 2vh 2vw;
    box-sizing: border-box;
    margin-bottom: 5vh;
    position: relative;
}

.bikecard img {
    max-height: 20vh;
    object-fit: contain;
}

.bikecard #priceContainer {
    margin-top: 5%;
    color: white;
}

.bikecard #priceContainer .price {
    margin: 5% 25% 0% 0%;
}

.bikecard #priceContainer .price p {
    display: inline-block;
    margin: 0% 2%;
    line-height: 1.5em;
    vertical-align: middle;
}

.rentBut {
    position: absolute;
    right: 8%;
    background-color: #30b34e;
    width: 20%;
    border: none;
    height: 6%;
    border-radius: 8px;
    color: white;
}

#confirmModal {
    position: absolute;
    background-color: rgba(55, 52, 74);
    top: 40%;
    left: 50%;
    width: 80%;
    transform: translate(-50%);
    text-align: center;
    z-index: 1;
    color: white;
    border-radius: 8px;
    padding: 3vh 1vw;
    box-sizing: border-box;
}

#confirmModal h3 {
    margin: 1vh 1vw;
}

#confirmBut {
    width: 60%;
    height: 5vh;
    background-color: #30b34e;
    color: white;
    border: none;
    box-shadow: 1px 2px 4px green;
}

#closeBut {
    position: absolute;
    right: 3%;
    top: 3%;
    background: none;
    border: none;
    color: red;
    font-size: x-large;
    border-radius: 4px;
    height: 10%;
    width: 10%;
}
