@media only screen and (min-width: 768px) {
    #bikeOverview {
        text-align: unset;
        width: 95%;
        margin-left: 2.5%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .bikeCard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: top;
        align-items: center;
        width: 18%;
        margin: 0;
        vertical-align: top;
        border: 2px solid rgba(141, 137, 137, 0.158);
        box-sizing: border-box;
        border-radius: 8px;
        background-color: rgba(55, 52, 74, 0.5);
    }

    .bikeCard p {
        padding: 2px;
        box-sizing: border-box;
        line-height: 1.5;
    }

    .bikeCard img {
        height: 25%;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }

    .bikeCard h3 {
        width: 100%;
    }

    .bikeCard img {
        width: 80%;
    }
}
