@media only screen and (min-width: 768px) {
    .inner-main-holder {
        width: 50%;
    }

    #main-holder {
        height: 90vh;
    }
}
@media only screen and (min-width: 1440px) {
    .inner-main-holder {
        width: 30%;
    }
}
